<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Sector Search</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
</head>

<body class="flex flex-col min-h-screen">
    <div class="flex-grow">
        <h1 class="text-4xl font-bold text-center mb-4 mt-10">Welcome.</h1>
        <h1 class="text-4xl font-bold text-center mb-4">Search a sector to find all stocks related to it.</h1>

        <div class="p-4 flex flex-col items-center justify-center">
            <div class="tab-content flex items-center justify-center">
                <div class="tab-pane flex items-center justify-center">
                    <div class="bg-white rounded-lg shadow-md p-8 w-96 mb-10">
                        <h1 class="text-2xl font-semibold mb-4 text-center">Sector Search
                            <img class="inline-block align-middle" src="../static/cadflag.jpg" alt="cadflag"
                                height="20px" width="35px">
                        </h1>
                        <form id="search-form" method="get">
                            <div class="mb-4 flex items-center justify-center" id="stockTickerFields">
                                <label class="block text-sm font-medium text-gray-600 mr-2">Sector</label>
                                <select class="p-1 border rounded-md w-50" id="sectorInput" name="sectorInput">
                                    <option value="Healthcare">Healthcare</option>
                                    <option value="Financial Services">Financial Services</option>
                                    <option value="Basic Materials">Basic Materials</option>
                                    <option value="Energy">Energy</option>
                                    <option value="Consumer Cyclical">Consumer Cyclical</option>
                                    <option value="Consumer Defensive">Consumer Defensive</option>
                                    <option value="Industrials">Industrials</option>
                                    <option value="Technology">Technology</option>
                                    <option value="Communication Services">Communication Services</option>
                                    <option value="Real Estate">Real Estate</option>
                                    <option value="Utilities">Utilities</option>
                                </select>
                            </div>
                            <div class="justify-center text-center mb-5">
                                <label>
                                    <input type="radio" name="exchange" value="cse" checked> CSE
                                </label>
                                <label>
                                    <input type="radio" name="exchange" value="tsx"> TSX
                                </label>
                                <label>
                                    <input type="radio" name="exchange" value="tsxv"> TSX-V
                                </label>
                            </div>
                            <button id="searchButton" type="button"
                                class="bg-gray-800 text-white p-2 w-full rounded-md hover:bg-gray-600">Search</button>
                            <span class="justify-center text-center" id="errorInfo"></span>
                        </form>
                    </div>
                </div>
            </div>
            <div class="justify-center">
                <h1 class="text-2xl font-semibold mb-4 text-center">List of Stocks By Inputted Sector</h1>
            </div>
            <div class="bg-gray-100 flex items-center justify-center p-2 mb-10">
                <div class="flex flex-col items-center">
                    <textarea id="info" rows="10" cols="75" disabled class="mb-4"></textarea>
                    <script>
                        document.getElementById('searchButton').addEventListener('click', function () {
                            document.getElementById("info").value = ""
                            var x = document.forms["search-form"]["sectorInput"].value;
                            const exchangeRadioButtons = document.getElementsByName('exchange');
                            document.getElementById("errorInfo").textContent = "";
                            let selectedExchangeValue = '';

                            for (let i = 0; i < exchangeRadioButtons.length; i++) {
                                if (exchangeRadioButtons[i].checked) {
                                    selectedExchangeValue = exchangeRadioButtons[i].value;
                                }
                            }
                            if (x == "" || selectedExchangeValue == '') {
                                document.getElementById("errorInfo").textContent = "Error. No sector or exchange entered."
                                document.getElementById("errorInfo").style.color = 'red'
                            }
                            else {
                                const sectorInputValue = document.getElementById('sectorInput').value;
                                const exchangeRadioButtons = document.getElementsByName('exchange');
                                document.getElementById("errorInfo").textContent = "";
                                let selectedExchangeValue = '';

                                for (let i = 0; i < exchangeRadioButtons.length; i++) {
                                    if (exchangeRadioButtons[i].checked) {
                                        selectedExchangeValue = exchangeRadioButtons[i].value;
                                    }
                                }
                                if (selectedExchangeValue == "cse") {
                                    const sectorSearch = `/getInfoCse/${encodeURIComponent(sectorInputValue)}`;
                                    fetch(sectorSearch)
                                        .then(response => response.json())
                                        .then(data => {
                                            const keys = data;
                                            console.log(keys);
                                            const modifiedKeys = keys.substring(1, keys.length - 1);
                                            document.getElementById("info").value = modifiedKeys
                                        });
                                }
                                else if (selectedExchangeValue == "tsx") {
                                    const sectorSearch = `/getInfoTsx/${encodeURIComponent(sectorInputValue)}`;
                                    fetch(sectorSearch)
                                        .then(response => response.json())
                                        .then(data => {
                                            const keys = data;
                                            console.log(keys);
                                            const modifiedKeys = keys.substring(1, keys.length - 1);
                                            document.getElementById("info").value = modifiedKeys
                                        });
                                }
                                else if (selectedExchangeValue == "tsxv") {
                                    const sectorSearch = `/getInfoTsxv/${encodeURIComponent(sectorInputValue)}`;
                                    fetch(sectorSearch)
                                        .then(response => response.json())
                                        .then(data => {
                                            const keys = data;
                                            console.log(keys);
                                            const modifiedKeys = keys.substring(1, keys.length - 1);
                                            document.getElementById("info").value = modifiedKeys
                                        });
                                }
                            }
                        });
                    </script>
                </div>
            </div>
            <a href="{{ url_for('sectorUSAHomepage') }}" class="bg-gray-800 text-white px-4 py-2 rounded-md">
                Go to USA Searcher
            </a>
        </div>
    </div>

    <footer class="bg-gray-800 text-white text-center py-2 mt-auto">
        <p>Created By Armando Mancino. 2023.</p>
    </footer>
</body>

</html>